{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{- $pages := cond 
                 (and (isset .Params "paginate_content") ( not (eq .Params.paginate_content "context")))
                 ((.Paginate (where .Site.RegularPages "Type" .Params.paginate_content)).Pages )
                 ( .Pages )
    -}}
  {{- if ( eq .Kind "term" ) -}}
  <h1>
  {{- if ( eq .Type "tags" ) -}}
  #
  {{- else if ( eq .Type "categories" ) -}}
  <svg xmlns="http://www.w3.org/2000/svg" height="28" width="28" style="margin-right: 10px; position: relative; top: 3px;" viewBox="0 0 48 48" fill="currentColor"><path d="m13.05 21.7 11-17.7 11 17.7ZM35.3 44q-3.7 0-6.2-2.5t-2.5-6.2q0-3.7 2.5-6.2t6.2-2.5q3.7 0 6.2 2.5t2.5 6.2q0 3.7-2.5 6.2T35.3 44ZM6 42.75v-15.2h15.2v15.2ZM35.3 41q2.4 0 4.05-1.65T41 35.3q0-2.4-1.65-4.05T35.3 29.6q-2.4 0-4.05 1.65T29.6 35.3q0 2.4 1.65 4.05T35.3 41ZM9 39.75h9.2v-9.2H9Zm9.45-21.05h11.2l-5.6-9.05Zm5.6 0ZM18.2 30.55Zm17.1 4.75Z"/></svg>
  {{- end -}}
  {{- .Data.Term -}}
  </h1>
  {{- end -}}

    {{- range $pages -}}
      <article class="post on-list">
        <h2 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h2>
        <div class="post-meta">
          {{ if .Date }}
            <time class="post-date">
              Published :: {{ .Date.Format "2006-01-02" }}
            </time>
          {{ end }}
          {{ with .Params.Author }}
            <span class="post-author">{{ . }}</span>
          {{ end }}
        </div>

        {{ partial "taxonomies.html" . }}
        {{ partial "cover.html" (dict "scope" "list" "page" .) }}

        <div class="post-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Summary }}
            {{ .Summary }}
          {{ else if .Description }}
            {{ .Description | markdownify }}
          {{ end }}
        </div>

        {{ if not .Params.showFullContent }}
          <div>
            <a class="read-more button" href="{{ .Permalink }}">{{ $.Site.Params.ReadMore }} →</a>
          </div>
        {{ end }}
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
