{{ define "main" }}
<article class="post">
  <h1 class="post-title">
    {{ .Title | markdownify }}
  </h1>
  <div class="post-meta">
    {{ if .Date }}
    <div>
      Published :: 
      <time class="post-date">
        {{ .Date.Format "2006-01-02" }} 
      </time>
    </div>
    {{ if and ($.Site.Params.showLastUpdated) (eq (.Param "showLastUpdated") true) }}
    <span class="separator">/</span>
    {{ end }}
    {{ end }}
    {{ if and ($.Site.Params.showLastUpdated) (eq (.Param "showLastUpdated") true) }}
    <div>
      {{or $.Site.Params.updatedDatePrefix "Updated"}} :: 
      <time class="post-date">
        {{ .Lastmod.Format "2006-01-02" }}
      </time>
    </div>
    {{ end }}
    {{ with .Params.Author }}
      <span class="post-author">{{ . }}</span>
    {{ end }}
    {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
      <span class="separator">/</span>
      <span class="post-reading-time">{{ .ReadingTime }} min read ({{ .WordCount }} words)</span>
    {{ end }}
  </div>

  {{ partial "taxonomies.html" . }}
  {{ partial "cover.html" (dict "scope" "single" "page" .) }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

  {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ partial "posts_pagination.html" . }}
  {{ end }}

  {{ if not (.Params.hideComments | default false) }}
    {{ partial "comments.html" . }}
  {{ end }}
</article>
{{ end }}
