code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}

/* Background */ .bg { color: #ffffff; background-color: #1f1f24; }
/* PreWrapper */ .chroma { color: #ffffff; background-color: #1f1f24; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #960050 }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: transparentize(mix($accent, #999, 90%), .92) }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: $accent }
/* KeywordConstant */ .chroma .kc { color: $accent }
/* KeywordDeclaration */ .chroma .kd { color: $accent }
/* KeywordNamespace */ .chroma .kn { color: $accent }
/* KeywordPseudo */ .chroma .kp { color: $accent }
/* KeywordReserved */ .chroma .kr { color: $accent }
/* KeywordType */ .chroma .kt { color: $accent }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb { color: transparentize($accent, .3) }
/* NameBuiltinPseudo */ .chroma .bp { color: transparentize($accent, .3) }
/* NameClass */ .chroma .nc { color: transparentize($accent, .3) }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { color: mix($accent, #999, .9) }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt {  }
/* NameVariable */ .chroma .nv { color: transparentize($accent, .3) }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: $accent }
/* LiteralStringAffix */ .chroma .sa { color: $accent }
/* LiteralStringBacktick */ .chroma .sb { color: $accent }
/* LiteralStringChar */ .chroma .sc { color: $accent }
/* LiteralStringDelimiter */ .chroma .dl { color: $accent }
/* LiteralStringDoc */ .chroma .sd { color: $accent }
/* LiteralStringDouble */ .chroma .s2 { color: $accent }
/* LiteralStringEscape */ .chroma .se { color: $accent }
/* LiteralStringHeredoc */ .chroma .sh { color: $accent }
/* LiteralStringInterpol */ .chroma .si {  }
/* LiteralStringOther */ .chroma .sx { color: $accent }
/* LiteralStringRegex */ .chroma .sr { color: $accent }
/* LiteralStringSingle */ .chroma .s1 { color: $accent }
/* LiteralStringSymbol */ .chroma .ss { color: $accent }
/* LiteralNumber */ .chroma .m { color: $accent }
/* LiteralNumberBin */ .chroma .mb { color: $accent }
/* LiteralNumberFloat */ .chroma .mf { color: $accent }
/* LiteralNumberHex */ .chroma .mh { color: $accent }
/* LiteralNumberInteger */ .chroma .mi { color: $accent }
/* LiteralNumberIntegerLong */ .chroma .il { color: $accent }
/* LiteralNumberOct */ .chroma .mo { color: $accent }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow {  }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: rgba(255, 255, 255, .3) }
/* CommentHashbang */ .chroma .ch { color: rgba(255, 255, 255, .3) }
/* CommentMultiline */ .chroma .cm { color: rgba(255, 255, 255, .3) }
/* CommentSingle */ .chroma .c1 { color: rgba(255, 255, 255, .3) }
/* CommentSpecial */ .chroma .cs { color: rgba(255, 255, 255, .3); font-style: italic }
/* CommentPreproc */ .chroma .cp { color: rgba(255, 255, 255, .5) }
/* CommentPreprocFile */ .chroma .cpf { color: rgba(255, 255, 255, .5) }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
