{{- $cover := false -}}
{{- $autoCover := default $.Site.Params.autoCover false }}

{{- if index .page.Params "cover" -}}
  {{- if .Resources.GetMatch .Params.Cover }}
    {{- $cover = (.Resources.GetMatch .Params.Cover).RelPermalink -}}
  {{- else -}}
    {{- $cover = absURL .page.Params.Cover -}}
  {{- end -}}
{{- else if $.Site.Params.AutoCover -}}
  {{- if (not .page.Params.Cover) -}}
    {{- if .Resources.GetMatch "cover.*" -}}
      {{- $cover = (.Resources.GetMatch "cover.*").RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{if $cover -}}
  <!-- Cover image found -->
{{ if eq .scope "list" }}
<a href="{{ .page.Permalink }}">
{{ end }}
  <img src="{{ $cover }}"
    class="post-cover"
    {{ if .page.Params.CoverAlt }}
    alt="{{ .page.Params.CoverAlt }}"
    {{end}}
  {{ if .Params.CoverCredit }}title="{{ .Params.CoverCredit |plainify }}"{{end}} />
{{ if eq .scope "single" }}
</a>
{{ end }}
{{- end }}
